<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login_Suite">
	<test name="Login Successfully">
		<classes>
			<class name="com.newtours.testcases.NT001_LoginSuccessfully" />
		</classes>
	</test>

	<test name="Login UnSuccessfully">
		<classes>
			<class name="com.newtours.testcases.NT001_LoginUnSuccessfully_BothBlank" />
			<class name="com.newtours.testcases.NT001_LoginUnSuccessfully_WrongBoth" />
			<class name="com.newtours.testcases.NT001_LoginUnSuccessfully_WrongPassword" />
			<class name="com.newtours.testcases.NT001_LoginUnSuccessfully_WrongUsername" />
			
		</classes>
	</test>

</suite> <!-- Suite end -->
